package common

templ Button(label string, styles string) {
	<button type="button" class={ "rounded-md min-w-[150px] min-h-[50px] font-bold bg-[#aa0e17] text-white p-3 m-1 ", styles }>
		{ label }
	</button>
}
