package common

templ JoinTableInput() {
	<form class="flex flex-row w-full gap-4 items-center" id="join-table-form">
		<input placeholder="Enter your table code" type="text" id="join-table-input" name="join-table-input" class="rounded-md text-black text-md flex-1"/>
	</form>
}
