package templates

import "github.com/medeirosvictor/rollover/templates/common"

templ Home() {
    @Layout() {
      @common.Header()
      @common.Typography("p", "welcome!", "text-red-400")
      <section class="flex flex-col gap-8">
        <p>This page build with Golang, Echo, templ, TailwindCSS, DaisyUI and friends!</p>
        <p>The below component uses htmx to update a count on click, try it out:</p>
      </section>
    }
  }
