package templates

import "github.com/medeirosvictor/rollover/templates/common"

templ Home() {
	@Layout() {
		<section class="flex flex-col max-w-[720px]">
			@common.JoinTableInput()
			@common.Button("Join a table", "")
			@common.Button("Create a table", "")
		</section>
	}
}
