package templates

import "github.com/medeirosvictor/rollover/templates/common"

templ Home() {
	@Layout() {
		@common.Header()
		@common.Typography("p", "welcome!", "text-red-400")
		@common.Button("Join a table", "")
		@common.Button("Create a table", "")
	}
}
