@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';

@theme {
    --color-gray-20: #f5f5f7;
    --color-gray-50: #ececf1;
    --color-gray-100: #c8c9d4;
    --color-gray-500: #54566c;

    --color-font-primary: #7c5252;

    --color-primary-100: #d2cce7;
    --color-primary-300: #9e93cb;
    --color-primary-500: #806db2;

    --color-secondary-400: #9c90c9;
    --color-secondary-500: #806db2;

    --font-dmsans: 'DM Mono', sans-serif;
    --font-montserrat: 'Montserrat', sans-serif;

    --breakpoint-xs: 480px;
    --breakpoint-sm: 768px;
    --breakpoint-md: 1060px;

    --background-gradient-yellowred: linear-gradient(
        90deg,
        #ff616a 0%,
        #ffc837 100%
    );
}

html,
body,
#root,
.app {
    height: 100%;
    width: 100%;
    font-family: 'DM Mono', sans-serif;
    @apply text-gray-500;
}
