{% extends 'index.html' %}

{% block content %}
<section class="flex flex-col items-center justify-center h-[100%]">
    <h1 class="text-5xl">Rollover</h1>
    <p>Join or create a table and start rolling some dice you lizard</p>
    <div>
        <input placeholder="Enter your table number!" />
        <button class="rounded-md bg-red-900 uppercase p-3 m-3 min-h-[60px] min-w-[100px]">join table</button>
        <button class="rounded-md bg-red-900 uppercase p-3 m-3 min-h-[60px] min-w-[100px]">open table</button>
    </div>
</section>
{% endblock %}

